body{
	background-color: #DBE4DF;
}

#main {
	width: 100%;
	height: 100%;
}

#vis {
	width: 75%;
	float: left;
	margin-left: 10px;
}

#info {	
	width: 22%;
	float: left;
}

#credit {
	background-color: #BDC1BF;
	width: 100%;
	height: 130px;
}

.directorbin {
	width: 100%;
	height: 120px;
	float: bottom;
	margin-bottom: 20px;
}

.directorsvg {
	width: 99%;
	height: 90%;
}
		
.dirname, text {
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
}


.detail, text {
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}

line {
	stroke: none;
	stroke-width: 1.0;
	/*stroke-dasharray: 10,20;*/
}