body{
	background-color: #DBE4DF;
}

#main {
	width: 100%;
	height: 100%;
}

#intro {
	font-family: Arial;
	margin-left:30px;
	width: 70%;
	height: 180px;
}

#vis {
	position: relative;
	width: 75%;
	float:left;
	margin-left: 10px;
}

#info {	
	position: fixed;
	top: 2%;
	right: 3%;
	width: 22%;
	float: left;
}

#credit {
	background-color: #BDC1BF;
	width: 100%;
	height: 120px;
	margin-bottom: 20px;
}

#legend {
	background-color: #BDC1BF;
	width: 100%;
	height: 160px;
	float:bottom;
	margin-bottom: 20px;
}

#sorting {
	background-color: #BDC1BF;
	width: 100%;
	height: 180px;
	float:bottom;
	margin-bottom: 20px;
}

#sorting text{
	color: black;
	position: relative;
	left: 15px;
	top: 10px;
}

li {
	width:50%;
	list-style-type:none;
	margin-bottom: 5px;
	float:left;
}

#sortbuttons {
	position: relative;
	left:-20px;
	width: 100%;
	height: 40px;
}

button {
	font-family: Arial;
	color: #000000;
	font-size: 1.1em;
	padding: 0px;
	background: none;
	text-decoration: none;
	border-width: none;
	border-style:solid;
	border-color:black;
}

button:hover {
  background: grey;/*#BDC1BF;*/
  text-decoration: none;
}

.edibutton:hover { background: #F5F756;}
.probutton:hover { background: #19D425;}
.dirbutton:hover { background: #1BCCF8;}
.wributton:hover { background: #FFAD07;}
.actbutton:hover { background: #FC0066;}

#explain {
	background-color: #BDC1BF;
	width: 100%;
	height: 160px;
	float:bottom;
	font-family: Arial;
	color: black;
	font-size: 1.0em;
}

.directorbin {
	position:absolute;
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
}

.directorsvg {
	width: 99%;
	height: 90%;
}
		
.dirname, text {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
}


.detail, text {
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}

line {
	stroke: none;
	stroke-width: 1.0;
	/*stroke-dasharray: 10,20;*/
}

a:link, a:visited {
	color:black;
}